<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicativoconfeitaria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicativoConfeitaria">
        <activity android:name=".activity.ActivityFinalizarPedido"/>
        <activity android:name=".activity.CadastroUsuarioActivity" />
        <activity android:name=".activity.activity_perfil" />
        <activity android:name=".activity.activity_cadastro" />
        <activity android:name=".activity.activity_login" />
        <activity android:name=".activity.activity_detalhes_item" />
        <activity android:name=".activity.ActivityPrincipal" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AplicativoConfeitaria.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>